@import "node_modules/leaflet-geosearch/dist/geosearch.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-control-attribution {
  display: none;
}

.leaflet-default-icon-path {
  background-image: url("https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png") !important;
}
